- if current_user.has_role? 'admin'
  %ul.nav.nav-pills.nav-stacked
    <li class="dropdown-header">基本设置</li>
    %li{ 'data-model'=>"team", 'class'=>"#{ get_nav_css_class('team')  }"  }
      <a href="/admin/team" class="pjax">部门</a>
    <li class="dropdown-header">会员管理</li>
    %li{ 'data-model'=>"user", 'class'=>"#{ get_nav_css_class('user') }"  }
      <a href="/admin/user" class="pjax">会员</a>
    <li class="dropdown-header">账户管理</li>
    %li{ 'data-model'=>"credit", 'class'=>"#{ get_nav_css_class('credit') }"  }
      <a href="/admin/credit" class="pjax">充值记录</a></li>
  %ul.nav.nav-pills.nav-stacked
    %li.dropdown-header= t('admin.actions.new_sale')
    %li{ 'class'=> "#{ get_nav_css_class('sale') }" }= link_to t('admin.misc.big_sale'), new_sales_path
  %ul.nav.nav-pills.nav-stacked
- else
  %ul.nav.nav-pills.nav-stacked
    <li class="dropdown-header">会员管理</li>
    %li{ 'data-model'=>"user", 'class'=>"#{ get_nav_css_class('user') }"  }
      <a class="pjax" href="/admin/user">用户</a>
    <li class="dropdown-header">账户管理</li>
    %li{ 'data-model'=>"credit", 'class'=>"#{ get_nav_css_class('credit') }"  }
      <a class="pjax" href="/admin/credit">充值记录</a>
  %ul.nav.nav-pills.nav-stacked
    %li.dropdown-header= t('admin.actions.new_sale')
    %li{ 'class'=> "#{ get_nav_css_class('sale') }" }= link_to t('admin.misc.big_sale'), new_sales_path
  %ul.nav.nav-pills.nav-stacked
